

@model TrenIstasyonUpdateDTO

<div class="card">
    <div class="card-header">
        <h3>@Model.id </h3>
         <div class="card-header">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Update" asp-controller="TrenIstasyon" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="id" >
        <div class="input-group mb-3">
                    <input type="text" asp-for="IstasyonAdi"  class="form-control" placeholder="Adi">
                    <div class="input-group-append">
                        <div class="input-group-text">
                           <h3>Oda NO    </h3>    <span class="fas fa-envelope text-danger" asp-validation-for="IstasyonAdi"></span>
                        </div>
                    </div>
        </div>
        <div class="input-group mb-3">
                    <input type="text" asp-for="IstasyonAdresi"  class="form-control" placeholder="Adres">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <h3>Oda NO    </h3>  <span class="fas fa-envelope text-danger" asp-validation-for="IstasyonAdresi"></span>
                        </div>
                    </div>
         <div class="input-group mb-3">
                      <input type="text" asp-for="IstasyonKonumu" class="form-control" placeholder="Konum ">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <h3>Oda NO    </h3>  <span class="fas fa-envelope text-danger" asp-validation-for="IstasyonKonumu"></span>
                        </div>
           </div>
       
        <button type="submit" class="btn btn-primary" value="Kaydet">Kaydet</button>
    </form>
   </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
